// Minimum and maximum screen sizes
$screen-xl-min: 1200px;
$screen-lg-max: ($screen-xl-min - 1);
$screen-lg-min: 992px;
$screen-md-max: ($screen-lg-min - 1);
$screen-md-min: 768px;
$screen-sm-max: ($screen-md-min - 1);
$screen-sm-min: 480px;
$screen-xs-max: ($screen-sm-min - 1);

// Breakpoints based on minimum screen width
$breakpoints-up: (
    sm: $screen-sm-min,
    md: $screen-md-min,
    lg: $screen-lg-min,
    xl: $screen-xl-min
);

// Breakpoints based on maximum screen width
$breakpoints-down: (
    xs: $screen-xs-max,
    sm: $screen-sm-max,
    md: $screen-md-max,
    lg: $screen-lg-max
);

// Breakpoints based on minimum and maximum screen widths
$breakpoints-only: (
    sm: ($screen-sm-min, $screen-sm-max),
    md: ($screen-md-min, $screen-md-max),
    lg: ($screen-lg-min, $screen-lg-max)
);

// Container width
$container-xl: 1170px;
$container-lg: 970px;
$container-md: 750px;

// Column gutter
$gutter: 15px;

// Fonts
$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-family-Monserat: 'Montserrat', sans-serif;
$font-family-Hind: 'Hind', sans-serif;
$font-family-OpenSans: 'Open Sans', sans-serif;
$font-family-Myriad: "MyriadProRegular";


// Font sizes
$font-size-default: 16px;

// Font weight values
$font-weight-regular: 400;
$font-weight-bold: 700;

// Line height values
$line-height-base: 1.5;

// Color palette
$color-black: #000;
$color-white: #fff;
$color-header-title: #fefefe;
$color-header-border: #3c3c3c;
$color-header-bg: #212429;
$color-h3: #212121;
$color-input-border: rgba(221, 221, 221, 0.15);
$color-placeholder: #999;
$color-background1: #f7f7f7;
$color-body: #f9f9fb;
$color-description:  #464646;
$color-post: #424242;
$color-link-border: #d7d7d7;
$color-box-shadow: rgba(232, 232, 232, 0.11);
$color-post4-bg: #f4f4f4;
$color-icon-shadow: rgba(213, 213, 213, 0.75);
$color-slider-description: rgba(0, 0, 0, 0.44);
$color-arrow-button-bg: #3a3c49;
$color-border-all: #eaeaeb;
$color-contact: rgba(234, 234, 235, 0.75);
$color-hover-backgraund: #e3e3e5;
