@import "variables";
@import "mixins";
@import "fonts";
@import "base";
//@import "../../node_modules/bootstrap/scss/bootstrap-reboot";
//@import "../../node_modules/bootstrap/scss/grid";
//@import "../../node_modules/bootstrap/scss/utilities";
@import "normalize";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "grid";



// TODO: include third-party styles

@import "../blocks/common/page/page.scss";
@import "../blocks/top/header/header";
@import "../blocks/newslatter/newslatter";
@import "../blocks/content/content";
@import "../blocks/top/banner/banner";
@import "../blocks/footer/footer";
@import "../blocks/aboutme/aboutme";
@import "../blocks/sidebar/sidebar";
@import "../blocks/betheone/betheone";
@import "../blocks/allpost/allpost";
@import "../blocks/sidebargallery/sidebargallery";
@import "../blocks/recomposts/recomposts";
@import "../blocks/map/map";
@import "../blocks/contactform/contactform";
@import "../blocks/catagories/catagories";
@import "../blocks/searchform/searchform";



// TODO: include other block styles
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.page{
  //background: url("../img/HomePage.jpg");
  //width: 1638px;
  background: $color-body;
  width: 100%;

}
.top{
  height: 345px;
  background: $color-header-bg;
  width: 100%;
  //@media (max-width: 767px){
  //
  //}
}

.blogs{
  padding-top: 40px;
  padding-bottom: 40px;
}