/**
 * Styles for the header block.
 */
.header {
  //background: #212429;
  background: $color-header-bg;

  // Selector styles
  // TODO: add code

  // @media queries
  // TODO: add code

  // Pseudo-classes and pseudo-elements
  // TODO: add code

  // Nested selectors
  // TODO: add code


  // BEM elements
  // TODO: add code
  &__menu {
    padding: 20px;
    border-left: 1px solid $color-header-border;
    border-right: 1px solid $color-header-border;
  }

  &__social {
    i {
      color: $color-white;
      padding: 19px 20px 20px 19px;


      border-left: 1px solid $color-header-border;
      border-right: 1px solid $color-header-border;
    }
  }

  &__title {
    color: $color-white;
    font-family: $font-family-Hind;
    color: $color-header-title #fefefe;
    padding-left: 7px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 0px;
  }

  &__list {
    display: flex;
    justify-content: flex-end;

  }

  &__logoWrapper {
    display: flex;
    justify-content: center;
  }

  &__logo {
    width: 76px;
    height: 16px;
    margin-top: 7px;
    margin-left: 326px;
    margin-top: 20px;
  }



  // Bem modifiers
  // TODO: add code
}
