/**
 * Styles for the newslatter block.
 */
.newslatter {
  // Selector styles
  // TODO: add code
  padding-top: 180px;
  padding-bottom: 23px;

  // @media queries
  // TODO: add code

  // Pseudo-classes and pseudo-elements
  // TODO: add code
  &__inputName::placeholder, &__inputEmail::placeholder {
    padding-left: 30px;
    color: $color-placeholder;
    font-family: $font-family-Monserat;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
  }

  //&__inputEmail::placeholder {
  //  padding-left: 30px;
  //}

  // Nested selectors
  // TODO: add code

  // BEM elements
  // TODO: add code
  &__cower{
    background: $color-background1;
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px){
      padding-top: 15px;
      flex-direction: column;
      justify-content: center;
    }
    @media (max-width: 991px){
      padding-top: 15px;
      flex-direction: column;
      justify-content: center
    }
  }
  &__title {
    color: $color-h3;
    font-family: $font-family-Monserat;
    margin-left: 29px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    @media (max-width: 767px){
      display: none;
    }
    @media (max-width: 991px){
      text-align: center;
    }
  }

  &__form {
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @media (max-width: 767px){
      flex-direction: column;
      align-items: center;
    }
  }

  &__inputName {
    width: 100%;
    height: 52px;
    margin: 10px;
    border: 1px solid $color-input-border;
    border-radius: 0;
    @media (max-width: 767px){
      width: 100%;
    }
  }

  &__inputEmail {

    height: 52px;
    margin: 10px;
    width: 100%;
    border: 1px solid $color-input-border;
    border-radius: 0;

  }

  &__button {
    color: $color-white;
    font-family: $font-family-Monserat;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    outline: none;
    border: none;
    width: 500px;
    margin: 10px;
    background: $color-h3;
    height: 52px;
  }

  // Bem modifiers
  // TODO: add code
}
