/**
 * Styles for the footer block.
 */
.footer {
  position: relative;
  background: $color-header-bg;
  padding-top: 15px;
  // Selector styles
  // TODO: add code

  // @media queries
  // TODO: add code

  // Pseudo-classes and pseudo-elements
  // TODO: add code
  &__upbutton:hover,&__imgGaleryLink:hover{
  transform: scale(0.9);
  opacity: 0.7;
}
  &__tweeterLink:hover{
    opacity: 0.7;
    text-decoration: none;

  }
  &__subtitle:hover{
    opacity: 0.7;

  }
  // Nested selectors
  // TODO: add code

  // BEM elements
  // TODO: add code
  &__imgGalery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__galeryItem{
    margin: 0.5px;
    width: 70px;
    height: 70px;
    @media (max-width: 767px){
      width: 30px;
      height: 30px;
    }
  }
  &__title {
    color: $color-background1;
    font-family: $font-family-Monserat;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
  }

  &__description2, &__description {
    color: $color-body;
    font-family: $font-family-Hind;
    font-size: 15px;
    font-weight: 300;
  }

  &__subtitle {
    color: $color-body;
    font-size: 14px;
    font-family: $font-family-Hind;
    font-weight: 300;
    transition: all 0.4s ease;
  }

  &__autor {
    color: $color-white;
    font-family: $font-family-OpenSans;
    font-size: 14px;
    font-weight: 300;
  }

  &__comment {
    color: $color-white;
    font-family: $font-family-Hind;
    font-size: 14px;
    font-weight: 400;
  }
  &__imgGaleryLink{
    transition: all 0.5s ease;
  }
  &__tweeterLink{
    transition: all 0.4s ease;
  }

  &__upbutton{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    transition: all 0.3s ease;
  }

  // Bem modifiers
  // TODO: add code
}
