extends ../layouts/inner.pug

//- TODO: include page-specific block templates
include ../../blocks/top/header/header.pug
include ../../blocks/top/banner/banner.pug
include ../../blocks/aboutme/aboutme.pug
include ../../blocks/sidebar/sidebar.pug

block page
    //- TODO: add code
    .top
        +header(data.top)
        +banner(data.banner)
    .blogs
        .container
            .row
                .col-9
                    +aboutme(data.aboutme)
                .col-3
                    +sidebar(data.sidebar)