extends ../layouts/contact.pug

//- TODO: include page-specific block templates
include ../../blocks/top/header/header.pug
include ../../blocks/sidebar/sidebar.pug
include ../../blocks/footer/footer.pug
include ../../blocks/searchform/searchform
include ../../blocks/map/map.pug
include ../../blocks/contactform/contactform.pug

block page
    //- TODO: add code
    +header(data.top)
    .blogs
        .container
            .row
                .col-9
                    +map(data.map)
                    +contactform(data.contactform)
                .col-3
                    +searchform(data.searchform)
                    +sidebar(data.sidebar)
    +footer(data.footer)