extends ../layouts/datail.pug

//- TODO: include page-specific block templates
include ../../blocks/top/header/header.pug
include ../../blocks/sidebargallery/sidebargallery.pug
include ../../blocks/sidebar/sidebar.pug
include ../../blocks/footer/footer.pug
include ../../blocks/searchform/searchform.pug
include ../../blocks/betheone/betheone.pug
include ../../blocks/allpost/allpost.pug
include ../../blocks/recomposts/recomposts.pug
include ../../blocks/catagories/catagories.pug

block page
    //- TODO: add code
    +header(data.top)

    .blogs
        .container
            .row
                .col-9
                    +betheone(data.betheone)
                    +allpost(data.allpost)
                    +recomposts(data.recomposts)
                .col-3
                    +searchform(data.searchform)
                    +sidebargallery(data.sidebargallery)
                    +catagories(data.catagories)
                    +sidebar(data.sidebar)
    +footer(data.footer)
