extends ../layouts/base.pug

//- TODO: include page-specific block templates
include ../../blocks/top/header/header.pug
include ../../blocks/newslatter/newslatter.pug
include ../../blocks/content/content.pug
include ../../blocks/top/banner/banner.pug
include ../../blocks/footer/footer.pug




block page
    //- TODO: add code
    .top
        +header(data.top)
        .container
            +banner(data.banner)
    +newslatter(data.newslatter)
    .container
        +content(data.content)

    +footer(data.footer)
