/**
 * Styles for the sidebargallery block.
 */
.sidebargallery {
    // Selector styles
    // TODO: add code
padding-left: 20px;
  padding-right: 20px;
  background: $color-white;
    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code
&__img{
  width: 100%;
  @media (max-width: 575px){
    display: none;
  }
}
    // Bem modifiers
    // TODO: add code
}
