/**
 * Styles for the catagories block.
 */
.catagories {
    // Selector styles
    // TODO: add code
  background: $color-white;
  padding: 20px;
    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code
  &__ListItem:hover{
    background: #e3e3e5;
  }
&__ListLink:hover{
  opacity: 0.7;
  text-decoration: none;
}
    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code
  &__ListTitle, &__ListPoint{
    display: inline-block;
    color: $color-h3;
    font-family: $font-family-Hind;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;

  }
  &__ListLink{
    display: flex;
    justify-content: space-between;
  }
  &__ListItem{
    padding-top: 15px;
    border-top: 1px solid $color-link-border;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.4s ease;
  }
  &__Title{
    color: $color-h3;
    font-family: $font-family-Monserat;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;

  }
    // Bem modifiers
    // TODO: add code
}
